@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xniky3');
  src:  url('fonts/icomoon.eot?xniky3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xniky3') format('truetype'),
    url('fonts/icomoon.woff?xniky3') format('woff'),
    url('fonts/icomoon.svg?xniky3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="my-icon-"], [class*=" my-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-icon-biaoqing:before {
  content: "\e900";
}
.my-icon-chengshigengduo-01:before {
  content: "\e901";
}
.my-icon-dengduo-01:before {
  content: "\e902";
}
.my-icon-dianzan:before {
  content: "\e903";
}
.my-icon-duihuakuangguanbi:before {
  content: "\e904";
}
.my-icon-fabu:before {
  content: "\e905";
}
.my-icon-fanhui:before {
  content: "\e906";
}
.my-icon-fenxiang:before {
  content: "\e907";
}
.my-icon-gengduo:before {
  content: "\e908";
}
.my-icon-gengduoxiao:before {
  content: "\e909";
}
.my-icon-geren:before {
  content: "\e90a";
}
.my-icon-gouxuanduihao:before {
  content: "\e90b";
}
.my-icon-guanbi:before {
  content: "\e90c";
}
.my-icon-jiaoyujingli:before {
  content: "\e90d";
}
.my-icon-jibenxinxi:before {
  content: "\e90e";
}
.my-icon-jingli:before {
  content: "\e90f";
}
.my-icon-jubao:before {
  content: "\e910";
}
.my-icon-kuozhan:before {
  content: "\e911";
}
.my-icon-mima-01:before {
  content: "\e912";
}
.my-icon-mimabukejian:before {
  content: "\e913";
}
.my-icon-mimakejian:before {
  content: "\e914";
}
.my-icon-nan:before {
  content: "\e915";
}
.my-icon-nv:before {
  content: "\e916";
}
.my-icon-pinglun:before {
  content: "\e917";
}
.my-icon-qiehuanchengshi:before {
  content: "\e918";
}
.my-icon-qiuzhiyixiang:before {
  content: "\e919";
}
.my-icon-quxiaoshoucang:before {
  content: "\e91a";
}
.my-icon-remen-01:before {
  content: "\e91b";
}
.my-icon-renzheng:before {
  content: "\e91c";
}
.my-icon-shanchu:before {
  content: "\e91d";
}
.my-icon-shipin:before {
  content: "\e91e";
  color: #595a5a;
}
.my-icon-shipinbofang:before {
  content: "\e91f";
}
.my-icon-shoucang:before {
  content: "\e920";
}
.my-icon-shuangchuan:before {
  content: "\e921";
}
.my-icon-shuaxin:before {
  content: "\e922";
}
.my-icon-sousuo-1:before {
  content: "\e923";
}
.my-icon-sousuo:before {
  content: "\e924";
}
.my-icon-sousuolishi:before {
  content: "\e925";
}
.my-icon-tianjia:before {
  content: "\e926";
}
.my-icon-tongyi:before {
  content: "\e927";
}
.my-icon-tuijian:before {
  content: "\e928";
}
.my-icon-tupian:before {
  content: "\e929";
}
.my-icon-weidianzan:before {
  content: "\e92a";
}
.my-icon-weixin-01:before {
  content: "\e92b";
}
.my-icon-weizhi:before {
  content: "\e92c";
}
.my-icon-xiangmujingli:before {
  content: "\e92d";
}
.my-icon-xiegedongtai:before {
  content: "\e92e";
}
.my-icon-yuyin:before {
  content: "\e92f";
}
.my-icon-yuyindianhua:before {
  content: "\e930";
}
.my-icon-zhengshu:before {
  content: "\e931";
  color: #4c4c4c;
}
.my-icon-zhuanfa:before {
  content: "\e932";
}
.my-icon-zhuanrurencaiku:before {
  content: "\e933";
}
.my-icon-ziwojieshao:before {
  content: "\e934";
}
.my-icon-zuixin:before {
  content: "\e935";
}
